.Search-bar {
display: flex;
align-items:center;
padding-left:60px;



}

.Search-bar input[type="text"] {

padding: 10px;
padding-left:20px;
border: 1px solid #ccc;
border-radius: 19px;
width: 170px;
margin-top:-60px;
}

