

.Search-bar {
display: flex;
align-items:center;
padding-left:60px;
margin-top:-17px;


}

.Search-bar input[type="text"] {

padding: 10px;

border: 1px solid #ccc;
border-radius: 22px;
width: 130px;
margin-top:-50px;
}

.Search-bar >.sear {
 padding-left:-20px;
}




